codes/matlab_files/*
codes/.venv/*
report/svg-inkscape/*
report/.vscode/*
report/neural_network.aux
report/neural_network.bbl
report/neural_network.bcf
report/neural_network.blg
report/neural_network.lof
report/neural_network.log
report/neural_network.run.xml
report/neural_network.synctex.gz
report/neural_network.toc
